<form role="form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="card-body">

    {% for field in form %}
      <div class="form-group field-group">
        
        <label for="{{ field.id_for_label }}" >
          {% if field.label == 'Staff' %}
            Chọn giáo viên
          {% elif field.label == 'School name' %}
            Chọn trường
          {% elif field.label == 'Class name' %}
            Lớp
          {% elif field.label == 'Schedule date' %}
            Ngày
          {% elif field.label == 'Start time' %}
            Thời gian bắt đầu
          {% elif field.label == 'End time' %}
            Thời gian kết thúc
          {% elif field.label == 'Name' %}
            Tên
          {% elif field.label == 'Course' %}
            Chọn trường
          {% elif field.label == 'Feedback' %}
            Phản hồi
          {% elif field.label == 'Date' %}
            Chọn ngày
          {% elif field.label == 'Message' %}
            Lý do nghỉ phép
          {% elif field.label == 'Subject' %}
            Môn học
          {% elif field.label == 'Student' %}
            Học sinh
          {% else %}
            {{ field.label }}
          {% endif %}
        </label>

        {{ field }}
        {{ field.errors }}  <!-- Hiển thị lỗi ngay bên dưới trường -->
      </div>
    {% endfor %}
  </div>
  <!-- /.card-body -->

  <div class="card-footer">
    <button type="submit" class="btn btn-success btn-block">
      {{ button_text|default:"Xác nhận" }}
    </button>
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // When a school is selected, load the classes
    $('#id_school_name').change(function () {
        var url = "{% url 'ajax_load_classes' %}";  // URL for AJAX
        var schoolId = $(this).val();  // Get the selected school ID
  
        $.ajax({
            url: url,
            data: {
                'school_id': schoolId
            },
            success: function (data) {
                $("#id_class_name").html('');  // Clear old classes
                $.each(data, function (key, value) {
                    $("#id_class_name").append('<option value="' + value.id + '">' + value.name + '</option>');
                });
            }
        });
    });
  
    // When a course is selected, load the classes
    $('#id_course').change(function () {
        var url = "{% url 'ajax_load_classes_student' %}";  // URL for AJAX
        var courseId = $(this).val();  // Get the selected course ID
  
        $.ajax({
            url: url,
            data: {
                'course_id': courseId
            },
            success: function (data) {
                $("#id_session").html('');  // Clear old sessions
                $.each(data, function (key, value) {
                    $("#id_session").append('<option value="' + value.id + '">' + value.name + '</option>');
                });
            }
        });
    });
  });
  
</script>
