{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}
  {{ page_title }}
{% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="content">

    <div class="container-fluid">
      <!-- Card lớn bao quanh 2 thẻ -->
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <!-- small box -->
              <div class="small-box bg-info shadow-sm p-3 mb-5 bg-blue rounded">
                <div class="inner">
                  <h3>Tổng số học sinh</h3>
                  <!-- Vòng lặp qua từng lớp và hiển thị số lượng học sinh -->
                  <ul style="list-style-type:none; padding: 0;">
                    {% for class_name, student_count in class_students_data.items %}
                      <li style="padding: 8px 0; border-bottom: 1px solid #ddd;">
                        <strong>Lớp {{ class_name }}</strong>: <i>{{ student_count }}</i> học sinh
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-user-graduate"></i>
                </div>
              </div>
            </div>

            <!-- ./col -->
            <div class="col-lg-6 col-md-6">
              <!-- small box -->
              <div class="small-box bg-yellow shadow-sm p-3 mb-5 bg-yellow rounded">
                <div class="inner text-center">
                  <h3 class="text-truncate">Tổng số lớp học: <i>{{ total_subject }}</i></h3>
                  <!-- Hiển thị danh sách các lớp học -->
                  <ul style="list-style-type:none; padding: 0; text-align: left;">
                    {% for class_name in class_names %}
                      <li style="padding: 5px 0; border-bottom: 1px solid #ddd;">
                        <strong> Lớp {{ class_name }}</strong>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-school"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="small-box shadow-sm p-3 mb-5 bg-info rounded">
                <div class="inner">
                  <!-- Cập nhật tiêu đề với CSS -->
                  <h3 class="text-truncate" id="current-date" class="text-truncate">Điểm danh ngày: </h3>
                  <ul class="list-group">
                    {% for school_name, attendance in school_attendance.items %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                          <h5><b style="color: black;">Trường: {{ school_name }}</b></h5> <!-- Hiển thị tên trường -->
                          <small><h6><i style="color: green;">Có mặt: {{ attendance.present_count }}</i></h6></small>
                          <small><h6><i style="color: red;">Vắng mặt: {{ attendance.leave_count }}</i></h6></small>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <!-- small box -->
              <div class="small-box bg-success shadow-sm p-3 mb- bg-green rounded">
                <div class="inner">
                  <h3 id="current-date1" class="text-truncate">Lịch dạy ngày: </h3>
                  <ul class="list-group" style="color: black;">
                    {% for schedule in teaching_schedules_today %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                          <strong>{{ schedule.class_name.name }}</strong> <br />
                          <small>{{ schedule.school_name.name }}</small>
                        </div>
                        <span class="badge badge-primary badge-pill">Thời gian: {{ schedule.start_time|time:'G' }}h:{{ schedule.start_time|time:'i' }}p</span>
                      </li>
                    {% endfor %}
                  </ul>
                  <p class="mt-2">
                    Số lớp: <strong>{{ total_subject }}</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_js %}
  <script>
    // Hiển thị ngày hiện tại
    var today = new Date()
    var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear()
    document.getElementById('current-date').innerHTML += date
    document.getElementById('current-date1').innerHTML += date

    document.addEventListener("DOMContentLoaded", function() {
      var modal = new bootstrap.Modal(document.getElementById('notificationModal'));
      modal.show();
  });
  </script>
{% endblock %}
