{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}
  {{ page_title }}
{% endblock %}
{% block content %}
  <section class="content">
    <div class="container-fluid">
      <!-- Card lớn bao quanh 2 thẻ -->
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <!-- small box -->
              <div class="small-box bg-info shadow-sm p-3 mb-5 bg-blue rounded">
                <div class="inner">
                  <h3>Tổng số học sinh</h3>
                  <h4><i>{{ total_students }}</i></h4>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-user-graduate"></i>
                </div>
              </div>
            </div>

            <!-- ./col -->
            <div class="col-lg-6 col-md-6">
              <!-- small box -->
              <div class="small-box bg-yellow shadow-sm p-3 mb-5 bg-yellow rounded">
                <div class="inner">
                  <h3>Tổng số lớp học</h3>
                  <h4><i>{{ total_subject }}</i></h4>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-school"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="small-box shadow-sm p-3 mb-5 bg-info rounded">
                <div class="inner">
                  <!-- Cập nhật tiêu đề với CSS -->
                  <h3 class="text-truncate" id="current-date">Điểm danh hôm nay ngày: </h3>
                  <ul class="list-group">
                    {% for student_attendance in student_attendance_list %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                          <strong>{{ student_attendance.student.first_name }} {{ student_attendance.student.last_name }}</strong>
                          <br />
                          <small><h5><b style="color: black;">Trường: {{ student_attendance.school_name }}</b></h5></small> <!-- Hiển thị tên trường -->
                          <br />
                          <small><h6><i style="color: green;">Điểm danh: {{ student_attendance.present_count }}</i></h6></small>
                          <small><h6><i style="color: red;">Vắng mặt: {{ student_attendance.leave_count }}</i></h6></small>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <!-- small box -->
              <div class="small-box bg-success shadow-sm p-3 mb-5 bg-green rounded">
                <div class="inner">
                  <h3 id="current-date1" class="text-truncate">Lịch dạy hôm nay: </h3>
                  <ul class="list-group" style="color: black;">
                    {% for schedule in teaching_schedules_today %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                          <strong>{{ schedule.class_name.name }}</strong> <br />
                          <small>{{ schedule.school_name.name }}</small>
                        </div>
                        <span class="badge badge-primary badge-pill">Thời gian: {{ schedule.start_time|time:"G" }}h:{{ schedule.start_time|time:"i" }}p</span>
                      </li>
                    {% endfor %}
                  </ul>
                  <p class="mt-2">
                    Số lớp: <strong>{{ total_subject }}</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_js %}
  <script>
    // Hiển thị ngày hiện tại
    var today = new Date()
    var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear()
    document.getElementById('current-date').innerHTML += date
    document.getElementById('current-date1').innerHTML += date
  </script>
{% endblock %}
