{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}
  {{ page_title }}
{% endblock %}
{% block content %}
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ total_students }}</h3>
              <p>Tổng số học sinh</p>
            </div>
            <div class="icon">
              <i class="nav-icon fas fa-user-graduate"></i>
            </div>
            <a href="{% url 'manage_student' %}" class="small-box-footer">Thông tin <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ total_staff }}</h3>
              <p>Tổng số giáo viên</p>
            </div>
            <div class="icon">
              <i class="nav-icon fas fa-users"></i>
            </div>
            <a href="{% url 'manage_staff' %}" class="small-box-footer">Thông tin <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>{{ total_course }}</h3>
              <p>Địa điểm dạy</p>
            </div>
            <div class="icon">
              <i class="nav-icon fas fa-th-list"></i>
            </div>
            <a href="{% url 'manage_course' %}" class="small-box-footer">Thông tin <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-light"> 
            <div class="inner">
              <h3>{{ total_subject }}</h3>
              <p>Tổng số lớp học</p>
            </div>
            <div class="icon">
              <i class="nav-icon fas fa-door-open"></i>

            </div>
            <a href="{% url 'manage_subject' %}" class="small-box-footer">Thông tin <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ total_teaching }}</h3>
              <p>Tổng số lịch dạy</p>
            </div>
            <div class="icon">
              <i class="nav-icon fas fa-book"></i>
            </div>
            <a href="{% url 'manage_session' %}" class="small-box-footer">Thông tin <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="datePicker">Chọn ngày:</label>
                <input type="date" id="datePicker" class="form-control" value="{{ current_date|date:'Y-m-d' }}">
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
            <!-- BAR CHART for Students Present Today by Class -->
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title" id="current-date">Số học sinh điểm danh trong ngày: </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="studentsPresentChart" style="width: 100%; height: 400;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <!-- Pie Chart for Classes with Schedule Today -->
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title" id="current-date1">Lịch học hôm nay: </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="classScheduleChart" width="800" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <!-- BAR CHART for Student Overview by School -->
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">Tổng quan học sinh theo trường</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="schoolOverviewChart" width="800" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
  </section>

{% endblock %}
{% block custom_js %}


<script>
  var studentsPresentChart;
  var classScheduleChart;

  $(document).ready(function() {

    //biểu đồ số học sinh học trong ngày
    var studentsPresentChartCanvas = $('#studentsPresentChart').get(0).getContext('2d');
    studentsPresentChart = new Chart(studentsPresentChartCanvas, {
      type: 'bar',
      data: {
        labels: {{ subject_list|safe }},
        datasets: [{
          label: 'Học sinh có mặt',
          backgroundColor: '#00a65a',
          data: {{ student_present_today_list|safe|escapejs }}  
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 1
            }
          }]
        }
      }
    });

    // biểu đồ lịch học hôm nay
    var classScheduleChartCanvas = $('#classScheduleChart').get(0).getContext('2d');
    classScheduleChart = new Chart(classScheduleChartCanvas, {
      type: 'pie',
      data: {
        labels: ['Lớp có lịch học hôm nay', 'Lớp không có lịch học'],
        datasets: [{
          data: [{{ classes_with_schedule_today }}, {{ total_classes }} - {{ classes_with_schedule_today }}],
          backgroundColor: ['#f39c12', '#00a65a']
        }]
      }
    });

    // cập nhạt ngày cho biểu đồ
    $('#datePicker').on('change', function() {
      var selectedDate = $(this).val();

      $.ajax({
        url: '{% url "filter_data_by_date" %}',
        method: 'GET',
        data: { date: selectedDate },
        success: function(response) {
          console.log(response);  
          if (response.student_present_today_list && response.classes_with_schedule_today !== undefined && response.total_classes !== undefined) {
            updateCharts(response.student_present_today_list, response.classes_with_schedule_today, response.total_classes);
          } else {
            console.error("Dữ liệu trả về không đầy đủ hoặc không hợp lệ.");
          }
        },
        error: function(xhr, status, error) {
          console.error("Lỗi khi gửi yêu cầu AJAX:", status, error);
        }
      });
    });

    // Biểu đồ "Tổng quan trường"
    var course_name_list = {{ course_name_list|safe }};
    var student_count_list_by_school = {{ student_count_list_by_school|safe|escapejs }};

    // Kiểm tra dữ liệu có phải là mảng và có giá trị hay không
    if (Array.isArray(course_name_list) && Array.isArray(student_count_list_by_school)) {
      var schoolOverviewChartCanvas = $('#schoolOverviewChart').get(0).getContext('2d');
      var schoolOverviewChartData = {
        labels: course_name_list,
        datasets: [{
          label: 'Số học sinh',
          backgroundColor: '#3c8dbc',
          data: student_count_list_by_school
        }]
      };
      
      var schoolOverviewChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 1 // Cố định bước nhảy cho trục y
            }
          }]
        }
      };

      // Khởi tạo biểu đồ
      var schoolOverviewChart = new Chart(schoolOverviewChartCanvas, {
        type: 'bar',
        data: schoolOverviewChartData,
        options: schoolOverviewChartOptions
      });
    }

    // Hiển thị ngày hiện tại
    var today = new Date();
    var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
    document.getElementById('current-date').innerHTML += date;
    document.getElementById('current-date1').innerHTML += date;

    // Xử lý hiển thị ngày cho ngày đã chọn
    $('#datePicker').on('change', function() {
      var selectedDate = $(this).val();

      if (selectedDate) {
        var dateParts = selectedDate.split('-');
        var formattedDate = dateParts[2] + '/' + dateParts[1] + '/' + dateParts[0];

        document.getElementById('current-date').innerHTML = "Số học sinh học trong ngày: " + formattedDate;
        document.getElementById('current-date1').innerHTML = "Lịch học hôm nay: " + formattedDate;
      } else {
        document.getElementById('current-date').innerHTML = "Số học sinh học trong ngày: " + date;
        document.getElementById('current-date1').innerHTML = "Lịch học hôm nay: " + date;
      }
    });
  });

  // Chức năng cập nhật biểu đồ khi nhận dữ liệu mới
  function updateCharts(studentData, classesWithSchedule, totalClasses) {
    // cập nhật học sinh có mặt
    studentsPresentChart.data.datasets[0].data = studentData;
    studentsPresentChart.update();  // Trigger the update

    // cập nhật lịch học hôm nay
    classScheduleChart.data.datasets[0].data = [classesWithSchedule, totalClasses - classesWithSchedule];
    classScheduleChart.update();  // Trigger the update
  }
</script>
{% endblock  %}
