{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<style>
    .table-responsive {
      overflow-x: auto;
    }
    
  </style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="card-title">{{page_title}}</h3>
                        <!-- Nút thêm lịch dạy và trường tìm kiếm -->
                        <div class="ml-auto d-flex align-items-center">

                            <!-- Nút Xóa với icon thùng rác -->
                            <button id="deleteSelected" class="btn btn-danger d-flex align-items-center mr-2" style="white-space: nowrap;">
                                <i class="fas fa-trash-alt mr-2"></i> Xóa
                            </button>
                            <!-- Nút thêm lịch dạy -->
                            {% url 'add_session' as add_session %}
                            <a href="{{add_session}}" class="btn btn-primary d-flex align-items-center mr-2" style="white-space: nowrap;">
                                <i class="fas fa-plus mr-2"></i> Thêm lịch dạy
                            </a>
                            <input type="text" id="searchInput" onkeyup="searchTable()" class="form-control" placeholder="Tìm kiếm...">
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="table table-bordered table-hover ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th><input type="checkbox" id="selectAll" /></th>
                                        <th>Giáo viên</th>
                                        <th>Tên trường</th>
                                        <th>Tên lớp</th>
                                        <th>Ngày dạy</th>
                                        <th>Thời gian</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for session in page_obj %}
                                    <tr>
                                        <td><input type="checkbox" class="studentCheckbox" value="{{ session.id }}" /></td>
                                        <td>{{ session.staff }}</td>
                                        <td>{{ session.school_name }}</td>
                                        <td>{{ session.class_name }}</td>
                                        <td>{{ session.schedule_date|date:"d/m/Y" }}</td>
                                        <td>{{ session.start_time|date:"g:i A" }}</td>
                                        <td>
                                            <a href="{% url 'edit_session' session.id %}" class="btn btn-info">Chỉnh sửa</a> - 
                                            <a href="{% url 'delete_session' session.id %}" onclick="return confirm('Bạn có chắc chắn muốn xóa cái này không ?')" class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                                
                                 <!-- Hiển thị nút phân trang -->
                                    <nav aria-label="Page navigation d-flex" class="mt-4">
                                        <ul class="pagination justify-content-left">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page=1" aria-label="First">
                                                        <span aria-hidden="true">&laquo; Trang đầu</span>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                        <i class="fas fa-arrow-left"></i> Trang trước
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="First" tabindex="-1">
                                                        <span aria-hidden="true">&laquo; Trang đầu</span>
                                                    </a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a class="page-link" tabindex="-1">
                                                        <i class="fas fa-arrow-left"></i> Trang trước
                                                    </a>
                                                </li>
                                            {% endif %}

                                            <!-- Hiển thị trang hiện tại -->
                                            <li class="page-item active">
                                                <a class="page-link bg-primary text-white" style="font-weight: bold;">
                                                    Trang {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                                                </a>
                                            </li>

                                            {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                        Trang kế <i class="fas fa-arrow-right"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                                        <span aria-hidden="true">Trang cuối &raquo;</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" tabindex="-1">
                                                        Trang kế <i class="fas fa-arrow-right"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="Last" tabindex="-1">
                                                        <span aria-hidden="true">Trang cuối &raquo;</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Tìm kiếm trong bảng
    function searchTable() {
        // Lấy giá trị tìm kiếm từ ô input
        var input = document.getElementById("searchInput");
        var filter = input.value.toLowerCase();
        var table = document.getElementById("example2");
        var tr = table.getElementsByTagName("tr");

        // Lặp qua tất cả các hàng, trừ hàng tiêu đề
        for (var i = 1; i < tr.length; i++) {
            tr[i].style.display = "none"; // Mặc định ẩn hàng
            var tds = tr[i].getElementsByTagName("td");
            
            // Lặp qua các ô (td) trong hàng để tìm từ khóa
            for (var j = 0; j < tds.length; j++) {
                if (tds[j]) {
                    if (tds[j].innerHTML.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = ""; // Hiển thị hàng nếu tìm thấy từ khóa
                        break; // Ngừng kiểm tra các ô khác trong hàng
                    }
                }
            }
        }
    }

    //xóa dữ liệu theo checkbox
    document.addEventListener("DOMContentLoaded", function() {
        const selectAllCheckbox = document.getElementById("selectAll");
        const studentCheckboxes = document.querySelectorAll(".studentCheckbox");
        const deleteButton = document.getElementById("deleteSelected");
    
        // Chọn hoặc bỏ chọn tất cả checkbox
        selectAllCheckbox.addEventListener("change", function() {
        studentCheckboxes.forEach(checkbox => {
            checkbox.checked = selectAllCheckbox.checked;
        });
        });
    
    // Xử lý nút xóa tất cả
    deleteButton.addEventListener("click", function() {
        const selectedIds = Array.from(studentCheckboxes)
        .filter(checkbox => checkbox.checked && checkbox.value)  // Lọc các checkbox có giá trị
        .map(checkbox => checkbox.value);
    
        if (selectedIds.length === 0) {
        alert("Vui lòng chọn ít nhất một tài khoản để xóa.");
        return;
        }
    
        const confirmation = confirm("Bạn có chắc chắn muốn xóa những tài khoản này không?");
        if (confirmation) {
        console.log('xoa tat ca')
        // Gửi yêu cầu xóa tới server
        fetch('//student/delete_students_all/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  
            },
            body: JSON.stringify({ ids: selectedIds })
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert("Có lỗi xảy ra khi xóa tài khoản.");
            }
        });
        }
    });
 
  
    // Hàm để lấy CSRF token
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Kiểm tra cookie xem có đúng tên không
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });


</script>

{% endblock content %}
